/* .register-page-login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -145px;
    margin-left: 770px;
    width: 450px;
    

    

} */
/* .register-form-container{
    width: 520px;
    padding: 48px;
    box-shadow: 0px 0px 21px rgb(0 0 0 / 20%);
    background: #fff ;

} */
/* .form-label{
    width: 100%;
    display: block;


}

.form-control{
    height: 40px;
    display: block;
    width: 100%;
    padding: 6px 12px;

}

.submit-btn{
    height: 40px;
    width: 100px;
    cursor: pointer;
    background: rgb(186, 148, 71);
    border-radius: 10px;
}
.mb-2{
    margin-bottom: 16px;
}

.errror-feedback{
    color: red;
    margin-top: 8px;
} */


.login-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(230, 219, 219);
    border-radius: 20px  ;
    height: 450px;
    width: 30%;
}
.login-header{
    text-align: center;
    font-weight: 600;
    padding-top: 50px;
}

.input-user-login{
    text-align: center;
    margin-top: 15px;
}
.tittle{
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    padding-top: 30px;

}
.text{
    font-weight: 600;
    padding-bottom: 3px;
}
.inputlogin{
    padding: 12px 7px;
    outline: none;
    background: #1618230f;
    margin-bottom: 7px;
    border: #1618230f ;
    border-radius: 3px;
    width: 100%;


    &:hover{
        background-color: #dedede ;
        
    }
}
.button-login{
    width: 40%;
    height: 50px;
    margin-top: 40px;
    padding: 7px;
    border-radius: 3px;
    outline: none;
    border: none;
    margin-left: 130px;
    position: relative;
    
    &:hover{
        background-color: #dedede;
    }
   

}

    button[disabled=disabled], button:disabled {
        cursor: not-allowed;
    }
.back{
    
    text-align: center;
    margin-top: 90px;
    cursor: pointer;
    
}

.input-2{
    position: relative;
    i {
        cursor: pointer;
        position: absolute;
        top: 17px;
        right: 10px;
    }


}
.createon-account{
    text-align: center;
    position: relative;
    padding-top: 100px;
}
.input-login{
    border: none;
    outline: none;
    width: 60%;
    height: 40px;
    border-radius: 3px;
    &:hover{
        background-color: #dedede;
    }

}